[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"

[packages]

[requires]
python_version = "3.8"

[scripts]
lint = "flake8"
type-check = "mypy -p pika-stubs --strict"
